:root {
  --color-text-primary: #111111;
  --background-color: #ffffff;
}

[data-theme='dark'] {
  --color-text-primary: #ffffff;
  --background-color: #000000;
}

* {
  margin: 0;
  font-family: var(--font-svn-gilroy);
}

body {
  background-color: var(--background-color);
  color: var(--color-text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}